<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.settings">
    <permission android:name="com.google.android.settings.routines.ROUTINES_ACTIONS" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.google.android.settings.future.logging.RESTRICTED_SEND_FUTURE_LOGS" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.google.android.settings.setup.dock.RUN_DOCK_SETUP" android:protectionLevel="privileged|signature"/>
    <uses-permission android:name="android.permission.MANAGE_GAME_MODE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.settings.routines.ROUTINES_ACTIONS"/>
    <uses-permission android:name="com.google.android.settings.intelligence.BATTERY_DATA"/>
    <uses-permission android:name="com.google.android.settings.setup.dock.RUN_DOCK_SETUP"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <application>
        <activity android:enabled="true" android:exported="false" android:hardwareAccelerated="true" android:name="com.google.android.settings.gestures.assist.bubble.AssistGestureBubbleActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@android:style/Theme.Material"/>
        <activity android:enabled="true" android:exported="true" android:icon="@drawable/ic_assist_gesture_suggestion" android:label="@string/assist_gesture_training_intro_title" android:name="com.google.android.settings.gestures.assist.AssistGestureTrainingIntroActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light">
            <intent-filter>
                <action android:name="com.google.android.settings.ASSIST_GESTURE_TRAINING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.android.settings.suggested.category.ASSIST_GESTURE"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.title" android:resource="@string/assist_gesture_training_intro_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/assist_gesture_training_intro_text"/>
            <meta-data android:name="com.android.settings.icon_tintable" android:value="true"/>
        </activity>
        <activity-alias android:enabled="true" android:exported="true" android:icon="@drawable/ic_assist_gesture" android:label="@string/assist_gesture_training_intro_title" android:name="com.google.android.settings.gestures.AssistGestureSuggestion" android:targetActivity="com.google.android.settings.gestures.assist.AssistGestureTrainingIntroActivity">
            <intent-filter android:priority="30">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.android.settings.suggested.category.FIRST_IMPRESSION"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.dismiss" android:value="14"/>
            <meta-data android:name="com.android.settings.title" android:resource="@string/assist_gesture_training_suggestion_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/assist_gesture_training_suggestion_summary"/>
        </activity-alias>
        <activity android:enabled="true" android:exported="false" android:label="@string/assist_gesture_training_enrolling_title" android:name="com.google.android.settings.gestures.assist.AssistGestureTrainingEnrollingActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="false" android:label="@string/assist_gesture_training_finished_title" android:name="com.google.android.settings.gestures.assist.AssistGestureTrainingFinishedActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="true" android:icon="@drawable/ic_assist_gesture_suggestion" android:label="@string/columbus_gesture_training_intro_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingIntroActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light">
            <intent-filter>
                <action android:name="com.google.android.settings.COLUMBUS_GESTURE_TRAINING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.android.settings.suggested.category.COLUMBUS_GESTURE"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.title" android:resource="@string/columbus_gesture_training_intro_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/columbus_gesture_training_intro_text_suw"/>
            <meta-data android:name="com.android.settings.icon_tintable" android:value="true"/>
        </activity>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_enrolling_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingEnrollingActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_action_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingActionActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_launch_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingLaunchActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:enabled="true" android:exported="false" android:label="@string/columbus_gesture_training_finished_title" android:name="com.google.android.settings.gestures.columbus.ColumbusGestureTrainingFinishedActivity" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="true" android:name="com.google.android.settings.gestures.columbus.ColumbusSettingsActivity">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.gestures.QUICK_TAP_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.gestures.columbus.ColumbusSettings"/>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.biometrics.face.FaceEnrollTrampoline" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="false" android:name="com.google.android.settings.biometrics.face.FaceEnrollEnrolling" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="false" android:name="com.google.android.settings.biometrics.face.FaceEnrollParticipation" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light"/>
        <activity android:exported="true" android:name="com.google.android.settings.biometrics.face.FaceEnrollConfirmation" android:screenOrientation="portrait" android:theme="@style/SudThemeGlif.Light">
            <intent-filter>
                <action android:name="com.google.android.settings.action.CONFIRM_FACE_ENROLLMENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:icon="@drawable/ic_suggestion_aware" android:label="@string/aware_settings_title" android:name="com.google.android.settings.aware.AwareSettingsActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.android.settings.action.AWARE_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.android.settings.suggested.category.FIRST_IMPRESSION"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.dismiss" android:value="0"/>
            <meta-data android:name="com.android.settings.title" android:resource="@string/aware_settings_suggestion_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/aware_settings_suggestion_summary"/>
        </activity>
        <activity android:exported="true" android:icon="@drawable/ic_suggestion_wake_screen" android:label="@string/aware_settings_title" android:name="com.google.android.settings.aware.WakeScreenSuggestionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.android.settings.suggested.category.FIRST_IMPRESSION"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.dismiss" android:value="0"/>
            <meta-data android:name="com.android.settings.title" android:resource="@string/wake_screen_suggestion_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/wake_screen_suggestion_summary"/>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.aware.AwareAssistSettingsActivity">
            <intent-filter>
                <action android:name="com.google.android.settings.future.AWARE_ASSIST_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.fuelgauge.reversecharging.ReverseChargingTrampoline" android:permission="android.permission.BATTERY_STATS" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="android.settings.REVERSE_CHARGING_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="orientation" android:documentLaunchMode="never" android:excludeFromRecents="true" android:exported="true" android:finishOnTaskLaunch="true" android:launchMode="singleInstance" android:name="com.google.android.settings.fuelgauge.reversecharging.BottomSheetActivity" android:permission="android.permission.BATTERY_STATS" android:relinquishTaskIdentity="true" android:resizeableActivity="false" android:screenOrientation="portrait" android:supportsPictureInPicture="false" android:theme="@style/BottomSheetStyle">
            <intent-filter android:priority="1">
                <action android:name="android.settings.REVERSE_CHARGING_BOTTOM_SHEET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.fuelgauge.reversecharging.ReverseChargingToolTrampoline" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.fuelgauge.REVERSE_CHARGING_TOOL_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/security_advanced_settings" android:name="com.google.android.settings.security.SecurityAdvancedSettingsActivity" android:taskAffinity="com.android.settings.root">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.security.SECURITY_ADVANCED_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.security.SecurityAdvancedSettings"/>
        </activity>
        <activity android:enabled="false" android:exported="true" android:icon="@drawable/ic_screen_saver" android:immersive="true" android:label="@string/dream_setup_title" android:name="com.google.android.settings.dream.DreamSetupActivity" android:permission="com.google.android.settings.setup.dock.RUN_DOCK_SETUP" android:theme="@style/SudThemeGlif.DayNight">
            <intent-filter>
                <action android:name="com.android.settings.action.SCREEN_SAVER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.is_supported" android:resource="@bool/dream_setup_supported"/>
            <meta-data android:name="com.android.settings.title" android:resource="@string/dream_setup_title"/>
            <meta-data android:name="com.android.settings.summary" android:resource="@string/dream_setup_description"/>
            <meta-data android:name="com.android.settings.icon_tintable" android:value="true"/>
        </activity>
        <activity android:label="@string/advanced_battery_preference_title" android:name="com.google.android.settings.fuelgauge.PowerUsageAdvancedActivity" android:permission="com.google.android.settings.intelligence.BATTERY_DATA" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.google.android.settings.action.LAUNCH_POWER_USAGE_ADVANCED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.fuelgauge.batteryusage.PowerUsageAdvanced"/>
        </activity>
        <activity android:exported="false" android:label="@string/limited_warranty_title" android:name="com.google.android.settings.warranty.WarrantyActivity">
            <intent-filter>
                <action android:name="android.settings.WARRANTY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.warranty.WarrantyFragment"/>
        </activity>
        <activity android:exported="false" android:label="@string/limited_warranty_title" android:name="com.google.android.settings.warranty.WarrantyDetailsActivity">
            <intent-filter>
                <action android:name="android.settings.WARRANTY_DETAILS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.warranty.WarrantyDetailsFragment"/>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.warranty.SuwWarrantyActivity" android:theme="@style/SudThemeGlif.DayNight">
            <intent-filter>
                <action android:name="com.google.android.settings.warranty.SUW_DIGITAL_WARRANTY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.google.android.settings.notification.ClearCallingSettingsActivity">
            <intent-filter>
                <action android:name="com.google.android.settings.notification.CLEAR_CALLING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.google.android.settings.notification.ClearCallingSettings"/>
        </activity>
        <provider android:name="com.google.android.settings.external.ExternalSettingsProvider" android:exported="true" android:multiprocess="false" android:authorities="com.google.android.settings.external" android:grantUriPermissions="true"/>
        <receiver android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver" android:permission="com.google.android.settings.routines.ROUTINES_ACTIONS" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver.RINGER_MODE_SILENCE_ACTION"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.google.android.settings.fuelgauge.BatteryUsageContentProvider" android:permission="com.google.android.settings.intelligence.BATTERY_DATA" android:exported="true" android:multiprocess="false" android:authorities="com.google.android.settings.fuelgauge.provider"/>
        <receiver android:name="com.google.android.settings.fuelgauge.BatteryBroadcastReceiver" android:permission="android.permission.BLUETOOTH_CONNECT" android:exported="true">
            <intent-filter>
                <action android:name="settings.intelligence.battery.action.FETCH_BLUETOOTH_BATTERY_DATA"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.libraries.hats20.SurveyPromptActivity" android:theme="@style/HatsLibPromptTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.android.settingslib.users.AvatarPickerActivity" android:theme="@style/SudThemeGlifV2.DayNight"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.wifitrackerlib.WsuPostProvisioningReceiver" android:permission="android.permission.NETWORK_CARRIER_PROVISIONING">
            <intent-filter>
                <action android:name="android.net.wifi.wsu.action.WSU_POST_PROVISIONING"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
